<mat-toolbar color="primary" style="height: 56px">
  <button *ngIf="isHandset$ | async" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="!(isHandset$ | async)">Dreamteam</span>
  <span class="toolbar-item-spacer"></span>
  <button
    mat-button
    matTooltip="My Account"
    [matMenuTriggerFor]="userAccountMenu"
  >
    <mat-icon>account_circle</mat-icon> {{ username }}
  </button>
  <button
    *ngIf="!(isHandset$ | async)"
    mat-raised-button
    color="accent"
    routerLink="/"
    (click)="logout()"
    class="logout"
  >
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button
    mat-mini-fab
    color="accent"
    class="mobile-logout"
    routerLink="/"
    (click)="logout()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon>logout</mat-icon>
  </button>

  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>settings</mat-icon><span>Settings</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>help</mat-icon><span>Help</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container
  class="app-container"
  [ngStyle]="{ height: (isHandset$ | async) ? '93.3%' : '91%' }"
>
  <mat-sidenav #snav mode="side" opened [(opened)]="opened">
    <app-side-menu [menu]="menu"></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
