.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 88%;
  margin: 0;
  overflow: auto;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
