.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  margin: 0;
  overflow: auto;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

// side nav setup
.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #ecececc2;
}

.mobile-logout {
  border-radius: 6px !important;
  height: 33px;
}
