<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  #formDirective="ngForm"
>
  <h1 mat-dialog-title class="title-mb-0">Add user</h1>
  <div mat-dialog-content class="example-form-fields">
    <div>
      <mat-form-field appearance="outline" class="pt-8">
        <mat-label>Enter your first name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter your last name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint
          style="color: #e01313"
          *ngIf="
            registerForm.get('email').errors &&
            (registerForm.get('email').dirty ||
              registerForm.get('email').touched)
          "
        >
          <span *ngIf="registerForm.get('email').hasError('emailValidator')"
            >Invalid email format.</span
          >
          <span
            *ngIf="registerForm.get('email').hasError('alreadyPresentEmail')"
            >Email already present</span
          >
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="auto-width">
      <mat-form-field appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option
            [value]="role"
            *ngFor="let role of roles; let i = index"
            >{{ role }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions [align]="'end'" class="dialog-end">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      mat-dialog-close
      [disabled]="!registerForm.valid"
    >
      <mat-icon matSuffix>save</mat-icon> save
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon matSuffix>cancel</mat-icon> Cancel
    </button>
  </div>
</form>
