.example-form-fields {
  padding-bottom: 0;
}

.auto-width {
  .mat-mdc-form-field {
    width: 100% !important;
  }
}
.pt-8 {
  padding-top: 8px;
}
.dialog-end {
  padding: 0 24px 3px 24px;
}
.title-mb-0 {
  margin-bottom: 0;
}
