.grid-container {
  margin: 0 10px 10px 10px;
  overflow: auto;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.demo-button-container {
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

// Table global search css
::ng-deep .global-search .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -1.25em;
}

::ng-deep .global-search .mat-mdc-text-field-wrapper {
  height: 40px !important;
}
::ng-deep .global-search .mat-mdc-form-field-flex {
  margin-top: -7px !important;
}
