.grid-container {
  margin: 10px;
  overflow: auto;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.mat-table {
  overflow-x: scroll;
}

.mat-row,
.mat-header-row {
  min-width: 800px;
}
