<mat-toolbar color="primary">
  <span>Dreamteam</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/" class="login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/auth/register']"
    class="register"
  >
    <mat-icon>how_to_reg</mat-icon>
    <span>Register</span>
  </button>
</mat-toolbar>
<div class="otp-container">
  <form
    [formGroup]="newPasswordForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <mat-card>
      <mat-card-content>
        <h1 style="color: #3f51b5">Reset Password</h1>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              [type]="chide ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="chide = !chide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="chide"
            >
              <mat-icon>{{ chide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint
              style="color: #e01313"
              *ngIf="newPasswordForm.get('confirmPassword').errors?.['confirmedValidator']"
            >
              Passwords did not match
            </mat-hint>
          </mat-form-field>
        </p>
        <div class="mt-5">
          <div>
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              type="submit"
              [disabled]="!newPasswordForm.valid"
            >
              <mat-icon>help_outline</mat-icon>Reset Password
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
