.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50.1vh;
}
.toolbar-item-spacer {
  flex: 1 1 auto;
}
.login {
  margin-right: 10px;
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}
.register {
  background: repeating-linear-gradient(45deg, black, transparent 100px);
}
