<mat-toolbar color="primary">
  <span>Dreamteam</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/" class="login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/auth/register']"
    class="register"
  >
    <mat-icon>how_to_reg</mat-icon>
    <span>Register</span>
  </button>
</mat-toolbar>
<div class="otp-container">
  <form
    [formGroup]="forgotForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <mat-card>
      <mat-card-content>
        <h1 style="color: #3f51b5">Forgot Password</h1>
        <div class="mt-5">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input matInput formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint
                style="color: #e01313"
                *ngIf="
                  forgotForm.get('email').errors &&
                  (forgotForm.get('email').dirty ||
                    forgotForm.get('email').touched)
                "
              >
                <span *ngIf="forgotForm.get('email').hasError('emailValidator')"
                  >Invalid email format.</span
                >
              </mat-hint>
            </mat-form-field>
          </p>
          <div>
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              type="submit"
              [disabled]="!forgotForm.valid"
            >
              <mat-icon>help_outline</mat-icon>Forgot Password
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
